<h1>Longest Word</h1>
<p>Now your result</p>
<ul>
  <li><%= "Your word: #{@attempt}" %>
  <li><%= "Time taken to answer: #{@result[:time]}" %>
  <li><%= "Translation: #{@result[:translation]}" %>
  <li><%= "Your score: #{@result[:score]}" %>
  <li><%= "Message: #{@result[:message]}" %>
<ul>
<%= link_to 'Play again!', score_path %>
