<h1>Longest Word</h1>
<h2>Here's your score:</h2>
<ul>
  <li><%= "Your word: #{@attempt}" %>
  <li><%= "Time taken to answer: #{@result[:time]}" %>
  <li><%= "Translation: #{@result[:translation]}" %>
  <li><%= "Your score: #{@result[:score]}" %>
  <li><%= "Message: #{@result[:message]}" %>
<ul>
<p><%= link_to 'Play again!', game_path %></p>
